PORT=your_port_number
DATABASE_URL_PROD=your_database_prod_connection_string
DATABASE_URL_DEMO=your_demo_database_connection_string
JWT_ACCESS_SECRET=your_jwt_access_secret
JWT_ACCESS_EXPIRES_IN=your_jwt_access_token_expiration
JWT_REFRESH_SECRET=your_jwt_refresh_secret
JWT_REFRESH_EXPIRES_IN=your_jwt_refresh_token_expiration